body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.hidden {
    display: none;
}

.number {
    width: 55px;
}

#buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#calculateButton {
    cursor: pointer;
    align-self: center;
}

#checkboxInput {
    cursor: pointer;
}

#mainForm {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
}
